$headingFontFamily: "DM Serif Display", serif;
$mainFontFamily: "Karla", sans-serif;
$primaryColor1: hsl(256, 26%, 20%);
$primaryColor2: hsl(216, 30%, 68%);
$neutralColor1: hsl(270, 9%, 17%);
$neutralColor2: hsl(273, 4%, 51%);
$neutralColor3: hsl(0, 0%, 98%);
